body {
    font-size: 24px;
    padding-left: 15%;
    padding-right: 15%;
}
h1 {
    background: #7d5a00;
    padding: 30px;
    margin-top: 0;
}
h2 {
    background-color:powderblue;
}
#img1 {
    height: 20%;
    width: 20%;
}
table, th, td {
    border: 1px solid #740f0f;
    border-collapse: collapse;
}
table {
    width:100%;
}
.list {
     width: 50%;
}
.red-text {
    color: red;
    padding: 20px;
}
.pink-background {
    background-color: pink;
    padding: 20px;
}
.noborder {
    border:none;
}